In [1]:
print(int("5"+"1"))

51

In [2]:
number_int=123
number_flt=1.23
number_new = number_int + number_flt
print("data type of number_int:", type(number_int))
print("data type of number_flt:", type(number_flt))

print("value of number_new:", number_new)
print("datatype of number_new:", type(number_new))

data type of number_int: <class 'int'>
data type of number_flt: <class 'float'>
value of number_new: 124.23
datatype of number_new: <class 'float'>

In [5]:
number_int=123
number_str="456"

print("Data type of number_int:", type(number_int))
print("Data type of number_str:", type(number_str))

print(number_int+number_str)

Data type of number_int: <class 'int'>
Data type of number_str: <class 'str'>

TypeError: ignored

In [6]:
number_int=123
number_str="456"

print("Data type of number_int:", type(number_int))
print("Data typ of number_str:", type(number_str))

number_str=int(number_str)
print("Data type of number_str after Type Casting:", type(number_str))

number_sum = number_int + number_str

print("Sum of number_int and number_str:", number_sum)
print("Data type of the sum:", type(number_sum))

Data type of number_int: <class 'int'>
Data typ of number_str: <class 'str'>
Data type of number_str after Type Casting: <class 'int'>
Sum of number_int and number_str: 579
Data type of the sum: <class 'int'>